<div class="body">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <div class="list-content">
      <ul>
        <li class="new-loan act" (click)="active('new-loan')">
          Apply for New Loan
        </li>
        <li class="status" (click)="active('status')">Status</li>
        <li class="emi" (click)="active('emi')">Emi Calculator</li>
      </ul>
    </div>
    <div class="box-content">
      <div class="new-loan-content activity" data-content="new-loan">
        <app-apply-new-loan></app-apply-new-loan>
        <!-- <app-personal-loan-eligibility></app-personal-loan-eligibility> -->
      </div>
      <div class="status-content " data-content="status">
        <table *ngIf="empLogin" class="table container table-hover">
          <thead>
            <tr>
              <th scope="col">Name emp</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Pancard</th>
              <th scope="col">Loan Amount</th>
              <th scope="col">Loan Tenure</th>
              <th scope="col">Loan status</th>
            </tr>
          </thead>
          <tbody class="table-data">
            <tr *ngFor="let app of loanApplication">
              <td>{{ app.fullName }}</td>
              <td>{{ app.mobile }}</td>
              <td>{{ app.pancard }}</td>
              <td>{{ app.loanAmount }}</td>
              <td>{{ app.loanTenure }}</td>
              <td *ngIf="app.loanStatus == 'approved'" style="color: green">
                {{ app.loanStatus }}
              </td>
              <td *ngIf="app.loanStatus == 'rejected'" style="color: red">
                {{ app.loanStatus }}
              </td>
              <td
                *ngIf="app.loanStatus == 'pending'"
                style="color: rgb(76, 43, 226)"
              >
                {{ app.loanStatus }}
              </td>
            </tr>
          </tbody>
        </table>
        <table *ngIf="userLogin" class="table container table-hover">
          <thead>
            <tr>
              <th scope="col">Name user</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Pancard</th>
              <th scope="col">Loan Amount</th>
              <th scope="col">Loan Tenure</th>
              <th scope="col">Loan status</th>
            </tr>
          </thead>
          <tbody class="table-data">
            <tr *ngFor="let app of currentUser.loanApplication">
              <td>{{ app.fullName }}</td>
              <td>{{ app.mobile }}</td>
              <td>{{ app.pancard }}</td>
              <td>{{ app.loanAmount }}</td>
              <td>{{ app.loanTenure }}</td>
              <td *ngIf="app.loanStatus == 'approved'" style="color: green">
                {{ app.loanStatus }}
              </td>
              <td *ngIf="app.loanStatus == 'rejected'" style="color: red">
                {{ app.loanStatus }}
              </td>
              <td
                *ngIf="app.loanStatus == 'pending'"
                style="color: rgb(76, 43, 226)"
              >
                {{ app.loanStatus }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="emi-content" data-content="emi">
        <app-emi-calculator></app-emi-calculator>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
