<div class="personalLoan-body">
    <div class="header">
      <img src="assets/Images/bank-name.png" alt="" />
      <button routerLink="/home" class="btn home">
        <i class="fas fa-home"></i>
      </button>
    </div>
    <div class="personalLoan-main-content">
      <div class="left">
        <div class="left-head">
          <img src="assets/Images/borrower-icon.png" alt="Images" />
          <div class="left-head-text">
              <h2>Get your</h2><h2>loan approved </h2><h2>in 4 simple steps️</h2>
          </div>
        </div>
        <div class="dot-line done"><div></div></div>
        <div routerLink="/personalLoan/necessaryInformation" class="left-c1 left-content-text  doned">
          <div class="number">
            <h2>1</h2>
          </div>
          <span>Neseccesary Information</span>
        </div>
        <div class="dot-line done"><div></div></div>
        <div routerLink="/personalLoan/personalizeYourLoan" class="left-c2 left-content-text current">
          <div class="number">
            <h2>2</h2>
          </div>
          <span>Personalize Your Loan</span>
        </div>
        <div class="dot-line"><div></div></div>
        <div routerLink="/personalLoan/additionalInformation" class="left-c3 left-content-text">
          <div class="number">
            <h2>3</h2>
          </div>
          <span>Additional Information</span>
        </div>
        <div class="dot-line"><div></div></div>
        <div routerLink="/personalLoan/loanAmount" class="left-c4 left-content-text">
          <div class="number">
            <h2>4</h2>
          </div>
          <span>Loan Amount</span>
        </div>
      </div>
      <div class="right">
        <div class="register-form">
          <form [formGroup]="form1" (ngSubmit)="onSubmit()" style="margin-top: 100px;">
            <div class="form-group salary">
              <label>Salaried</label>
              <mat-form-field>
                <mat-label>Salaried</mat-label>
                <mat-select
                [ngClass]="{ 'is-invalid': submitted && f.salary.errors }"
                formControlName="salary"
                >
                    <mat-option value="yes">Yes</mat-option>
                    <mat-option value="no">No</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="submitted && f.salary.errors" class="invalid-feedback">
                <div *ngIf="f.salary.errors.required">Salaried is required</div>
              </div>
            </div>
        
            <div class="form-group">
              <label>Organization Name</label>
              <input
                type="text"
                formControlName="organization"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.organization.errors }"
              />
              <div *ngIf="submitted && f.organization.errors" class="invalid-feedback">
                <div *ngIf="f.organization.errors.required">organization name is required</div>
              </div>
            </div>
        
            <div class="form-group">
              <label>Upload Salary Slip</label>
              <input
                type="file"
                formControlName="salarySlip"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.salarySlip.errors }"
              />
              <div *ngIf="submitted && f.salarySlip.errors" class="invalid-feedback">
                <div *ngIf="f.salarySlip.errors.required">Salary Slip is required</div>
              </div>
            </div>

            <div class="form-group">
              <label>Upload Residential Certificate</label>
              <input
                type="file"
                formControlName="resident"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.resident.errors }"
              />
              <div *ngIf="submitted && f.resident.errors" class="invalid-feedback">
                <div *ngIf="f.resident.errors.required">Residential certificate is required</div>
              </div>
            </div>
        
            <div class="form-group" style="display: flex; justify-content: space-between; padding-top: 50px;">
              <!-- <button type="submit" style="display: flex;  padding-right: auto;background-color: #009dff;" class="btn btn-primary"><mat-icon style="margin-left: -10px;">keyboard_arrow_left</mat-icon>Back</button> -->
              <button type="submit" style="display: flex; justify-content: space-between; padding-right: 0;background-color: #009dff;" class="btn btn-primary">Next<mat-icon style="margin-left: 10px;">keyboard_arrow_right</mat-icon></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  